eShopping/src/main/webapp/wsdl/ShopUserServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.shop.in.co" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.shop.in.co" xmlns:intf="http://service.shop.in.co" xmlns:tns1="http://bean.shop.in.co" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.shop.in.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://bean.shop.in.co"/>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="a" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="deleteShopUser">
    <complexType/>
   </element>
   <element name="deleteShopUserResponse">
    <complexType/>
   </element>
   <element name="getShopUser">
    <complexType/>
   </element>
   <element name="getShopUserResponse">
    <complexType>
     <sequence>
      <element name="getShopUserReturn" type="tns1:ShopUser"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="addShopUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:ShopUser"/>
     </sequence>
    </complexType>
   </element>
   <element name="addShopUserResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.shop.in.co"/>
   <import namespace="http://bean.shop.in.co"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.shop.in.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://service.shop.in.co"/>
   <complexType name="ShopUser">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="list" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="phoneNo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getShopUserResponse">

      <wsdl:part element="impl:getShopUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteShopUserResponse">

      <wsdl:part element="impl:deleteShopUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getShopUserRequest">

      <wsdl:part element="impl:getShopUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addShopUserRequest">

      <wsdl:part element="impl:addShopUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteShopUserRequest">

      <wsdl:part element="impl:deleteShopUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addShopUserResponse">

      <wsdl:part element="impl:addShopUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShopUserServiceImpl">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteShopUser">

         <wsdl:input message="impl:deleteShopUserRequest" name="deleteShopUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteShopUserResponse" name="deleteShopUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getShopUser">

         <wsdl:input message="impl:getShopUserRequest" name="getShopUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getShopUserResponse" name="getShopUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addShopUser">

         <wsdl:input message="impl:addShopUserRequest" name="addShopUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addShopUserResponse" name="addShopUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShopUserServiceImplSoapBinding" type="impl:ShopUserServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteShopUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteShopUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteShopUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getShopUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getShopUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getShopUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addShopUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addShopUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addShopUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShopUserServiceImplService">

      <wsdl:port binding="impl:ShopUserServiceImplSoapBinding" name="ShopUserServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/eShopping/services/ShopUserServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
